<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Windows Development Programming Languages</title>

		<meta charset="UTF-8" />
		
		<meta name="author" content="Rodrigo Pelissier" />
		<meta name="description" content="List of most common programming languages used in Windows development" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>

	<body>
		<header>
			<center>
				<h1>Windows Development Programming Languages</h1>
				
				<picture>
					<source srcset="../img/windows@2x.png" media="(-webkit-device-pixel-ratio: 2)" />
					<source srcset="../img/windows@3x.png" media="(-webkit-min-device-pixel-ratio: 3)" />
					
					<img  src="../img/windows.png" width="50" alt="Windows logo" />
				</picture>
			</center>
		</header>

		<br />

		<main>
			<article>
				<ul>
					<li>
						<a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
					</li>

					<li>
						<a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank">C++</a>
					</li>
				</ul>
			</article>
		</main>

		<br />

		<footer>
			<a href="../index.html">&lsaquo; Go back</a>
		</footer>
	</body>
</html>
